+responsive(mobile-first)
  .main
    padding: 10px
    margin 0 auto
    height auto
    background-image url('../../assets/bg-mobile.svg')


  header

    img
      width 40%

  main
    display block
    text-align center

    .mockups

    .content
      padding 20px

      h1
        font-size 20px
        font-weight 700
        line-height 1.6em
        letter-spacing 0.05em

      p
        font-size 14px
        line-height 1.8em
        font-weight 400
        font-family font-heading

      button
        padding: 13px 80px

  footer
    display flex
    flex-direction column
    .rrss
      margin 20px auto
      display flex
      justify-content center

      svg
        width 30px
    
    .code
      p
        padding 10px
        font-size 12px
