color-primary =  hsl(257, 40%, 49%)
color-secondary =  hsl(255, 100%, 100%)

font-heading = 'Poppins', sans-serif
font-body = 'Open-Sans', sans-serif

font-weight = 400

// *my method
// !my method
// *?my method
// TODO my method
// @param myparam my method
